<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Tarea</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Agregar Nueva Tarea</h1>
        <a href="{{ url_for('index') }}">Volver a la Lista</a>
    </header>

    <section>
        <form action="{{ url_for('add_task') }}" method="POST">
            <label for="task_name">Nombre de la Tarea:</label>
            <input type="text" id="task_name" name="task_name" required>
            <button type="submit">Agregar Tarea</button>
        </form>
    </section>
</body>
</html>
